.tasks{
    background-color:rgb(231, 231, 231);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.no-tasks{
    text-align: center;
    font-weight: 500;
    padding: .6rem;
    color: #2621b3;
    border: 1px solid #6c68df;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}